@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    font-family: 'Roboto', Inter, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: #7189BF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

@media all and (max-device-width: 720px){
    body {
        font-size: 18px;
    }
}

@media all and (max-device-width: 640px){
    body {
        font-size: 14px;
    }
}

@media all and (max-device-width: 320px){
    body {
        font-size: 10px;
    }
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}